// Feel free to modify the colors

:root {
    --color-background: #131212;
    --color-border: #D3D961;

    --color-primary-text: #FFFFFF;
    --color-secondary-text: #B0B0BB;
    --color-highlight: #D3D961;
    --color-link: #FFF;
}